<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>DiscoveryMovies | Aplicación de gestion de fichas de peliculas - Listado Actores</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg " style="background-color: darkgray;">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/cfilms/}">
                <img id="ICON" th:src="@{/uploads/movieIcon.png}" alt="" width="50" height="40"  class="d-inline-block align-text-top-success">
                DiscoveryMovies
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a  class="nav-link active" aria-current="page" th:href="@{/cactores/listado/}" sec:authorize="hasAuthority('Admin')"> Actores</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link active" th:href="@{/criticas/all/}" sec:authorize="hasAuthority('Admin')"> Criticas</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link active" th:href="@{/users/all/}" sec:authorize="hasAuthority('Admin')"> Usuarios</a>
                    </li>
                    <form th:action="@{/cfilms/titulo}" method="get" class="d-flex" style="margin-left: 3cm;">
                        <input style="width: 70% ; height: 80%" type="text" class="form-control" id="titulo" name="titulo" placeholder="Busca tu pelicula ">
                        <button type="submit" class="btn btn-dark btn-sm" style="--bs-btn-padding-y: .25rem; height: 80% ; width: 35%; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Buscar</button>
                        <a style="--bs-btn-padding-y: .25rem; line-height: 1; height: 90% ; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;" class="btn btn-outline-success" type="submit" role="button" th:href="@{/cfilms/buscar}">Busqueda avanzada</a>
                    </form>

                </ul>
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #052959; color: papayawhip; border-radius: 50%; width: 55px; padding-top: 15px; height: 55px; text-align: center; display: flex; align-items: center; justify-content: center;">
                        <p style="font-size: 14px" th:text="${Username}"> </p>
                    </button>
                    <ul style="background-color: papayawhip" class="dropdown-menu">
                        <li><a class="dropdown-item"th:href="@{/cfilms/}"> Home</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout/}">Logout</a></li>
                        <li><a class="dropdown-item" href="#">Mas..</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
</div>
<div class="container">
    <div class="card">
        <h2 th:text="${title}" class="card-header"></h2>
        <div class="card-body">
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <h4 class="card-title">
                <a th:href="@{/criticas/newCritica}" class="btn btn-success btn-xs">Agregar nueva critica</a>
            </h4>
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Pelicula</th>
                    <th scope="col">Valoracion</th>
                    <th scope="col">Nota</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Accion</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="critica : ${criticasList}">
                    <td th:text="${critica.idCritica}"></td>
                    <td th:text="${critica.idFilm}"></td>
                    <td th:text="${critica.valoracion}"></td>
                    <td th:text="${critica.nota}"></td>
                    <td th:text="${critica.fecha}"></td>

                    <td>
                        <table>

                        </table>
                    </td>

                    <td>
                        <a th:href="@{/criticas/edit/{id}  (id=${critica.idCritica})  }" th:text="'editar'"
                           class="btn btn-secondary btn-sm" role="button" title="Editar usuario."><i
                                class="fas fa-pencil-alt" aria-hidden="true"></i></a>


                        <a th:href="@{/criticas/delete/{id}  (id=${critica.idCritica})   }" th:text="'borrar'"
                           onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button"
                           title="Eliminar critica."><i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>

            <nav th:replace="paginator-nav :: paginator"></nav>

        </div>
    </div>
    <hr>
    <a class="btn btn-success" role="button" th:href="@{/cfilms/}">Ir a Inicio</a>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</div>
</body>
</html>