
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org": lang="en"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>DiscoveryMovies | Aplicación de gestion de fichas de peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg " style="background-color: darkgray;">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/cfilms/}">
                <img id="ICON" th:src="@{/uploads/movieIcon.png}" alt="" width="50" height="40"  class="d-inline-block align-text-top-success">
                DiscoveryMovies
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a  class="nav-link active" aria-current="page" th:href="@{/cactores/listado/}" sec:authorize="hasAuthority('Admin')"> Actores</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link active" th:href="@{/criticas/all/}" sec:authorize="hasAuthority('Admin')"> Criticas</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link active" th:href="@{/users/all/}" sec:authorize="hasAuthority('Admin')"> Usuarios</a>
                    </li>
                    <form th:action="@{/cfilms/titulo}" method="get" class="d-flex" style="margin-left: 3cm;">
                        <input style="width: 70% ; height: 80%" type="text" class="form-control" id="titulo" name="titulo" placeholder="Busca tu pelicula ">
                        <button type="submit" class="btn btn-dark btn-sm" style="--bs-btn-padding-y: .25rem; height: 80% ; width: 35%; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Buscar</button>
                        <a style="--bs-btn-padding-y: .25rem; line-height: 1; height: 90% ; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;" class="btn btn-outline-success" type="submit" role="button" th:href="@{/cfilms/buscar}">Busqueda avanzada</a>
                    </form>

                </ul>
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #052959; color: papayawhip; border-radius: 50%; width: 55px; padding-top: 15px; height: 55px; text-align: center; display: flex; align-items: center; justify-content: center;">
                        <p style="font-size: 14px" th:text="${Username}"> </p>
                    </button>
                    <ul style="background-color: papayawhip" class="dropdown-menu">
                        <li><a class="dropdown-item"th:href="@{/cfilms/}"> Home</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout/}">Logout</a></li>
                        <li><a class="dropdown-item" href="#">Mas..</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <h2 th:text="${title}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/criticas/save/}" method="post" th:object="${critica}" enctype="multipart/form-data">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Por favor corrija los siguientes errores:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>

            </ul>
        </div>
        <div class="mb-3">
            <label for="valoracion" class="form-label">Valoracion</label>
            <input type="text" class="form-control" th:field="*{valoracion}" id="valoracion" name="valoracion"
                   placeholder="Escriba el nombre del actor" required="required">
        </div>
        <div class="mb-3">
            <label for="nota" class="form-label">Nota</label>
            <input type="text" class="form-control" th:field="*{nota}" id="nota" name="nota"
                   placeholder="Escriba la nota de la pelicula" required="required">
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" th:field="*{fecha}" id="fecha" name="fecha"
                   placeholder="Escriba su contraseña" required="required">
        </div>
        <div class="mb-3">
            <label for="idFilm" class="form-label">Pelicula</label>
            <input type="text" class="form-control" th:field="*{idFilm}" id="idFilm" name="idFilm"
                   placeholder="Escriba su contraseña" required="required">
        </div>
        <!--
        <div class="mb-3">
            <label for="rol" class="form-label">Password</label>
            <input type="text" class="form-control" th:field="*{roles}" id="rol" name="rol"
                   placeholder="Escriba su contraseña" required="required">
        </div>
        -->



        <button type="submit" class="btn btn-dark">Guardar</button>
        <input type="hidden" th:field="*{idCritica}"/>
    </form>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cfilms/}">Ir a Inicio</a>   <a class="btn btn-outline-warning" role="button" th:href="@{/criticas/all}">Volver</a>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>

