
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org": lang="en">
<head>
    <meta charset="UTF-8">
    <title>DiscoveryMovies | Aplicación de gestion de fichas de peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 th:text="${title}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/criticas/save/}" method="post" th:object="${critica}" enctype="multipart/form-data">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Por favor corrija los siguientes errores:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>

            </ul>
        </div>
        <div class="mb-3">
            <label for="valoracion" class="form-label">Valoracion</label>
            <input type="text" class="form-control" th:field="*{valoracion}" id="valoracion" name="valoracion"
                   placeholder="Escriba el nombre del actor" required="required">
        </div>
        <div class="mb-3">
            <label for="nota" class="form-label">Nota</label>
            <input type="text" class="form-control" th:field="*{nota}" id="nota" name="nota"
                   placeholder="Escriba la nota de la pelicula" required="required">
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" th:field="*{fecha}" id="fecha" name="fecha"
                   placeholder="Escriba su contraseña" required="required">
        </div>
        <div class="mb-3">
            <label for="idFilm" class="form-label">Pelicula</label>
            <input type="text" class="form-control" th:field="*{idFilm}" id="idFilm" name="idFilm"
                   placeholder="Escriba su contraseña" required="required">
        </div>
        <!--
        <div class="mb-3">
            <label for="rol" class="form-label">Password</label>
            <input type="text" class="form-control" th:field="*{roles}" id="rol" name="rol"
                   placeholder="Escriba su contraseña" required="required">
        </div>
        -->



        <button type="submit" class="btn btn-dark">Guardar</button>
        <input type="hidden" th:field="*{idCritica}"/>
    </form>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cfilms/}">Ir a Inicio</a>   <a class="btn btn-outline-warning" role="button" th:href="@{/criticas/all}">Volver</a>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>

