<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>DiscoveryMovies | Aplicación de gestion de fichas de peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg " style="background-color: darkgray;">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/cfilms/}">
                <img id="ICON" th:src="@{/uploads/movieIcon.png}" alt="" width="50" height="40"  class="d-inline-block align-text-top-success">
                DiscoveryMovies
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a  class="nav-link active" aria-current="page" th:href="@{/cactores/listado/}" sec:authorize="hasAuthority('Admin')"> Actores</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link active" th:href="@{/criticas/all/}" sec:authorize="hasAuthority('Admin')"> Criticas</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link active" th:href="@{/users/all/}" sec:authorize="hasAuthority('Admin')"> Usuarios</a>
                    </li>
                    <form th:action="@{/cfilms/titulo}" method="get" class="d-flex" style="margin-left: 3cm;">
                        <input style="width: 70% ; height: 80%" type="text" class="form-control" id="titulo" name="titulo" placeholder="Busca tu pelicula ">
                        <button type="submit" class="btn btn-dark btn-sm" style="--bs-btn-padding-y: .25rem; height: 80% ; width: 35%; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Buscar</button>
                        <a style="--bs-btn-padding-y: .25rem; line-height: 1; height: 90% ; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;" class="btn btn-outline-success" type="submit" role="button" th:href="@{/cfilms/buscar}">Busqueda avanzada</a>
                    </form>

                </ul>
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #052959; color: papayawhip; border-radius: 50%; width: 55px; padding-top: 15px; height: 55px; text-align: center; display: flex; align-items: center; justify-content: center;">
                        <p style="font-size: 14px" th:text="${Username}"> </p>
                    </button>
                    <ul style="background-color: papayawhip" class="dropdown-menu">
                        <li><a class="dropdown-item"th:href="@{/cfilms/}"> Home</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout/}">Logout</a></li>
                        <li><a class="dropdown-item" href="#">Mas..</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <h2 th:text="${titulo}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/cfilms/guardar/}" method="post" enctype="multipart/form-data" th:object="${film}">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Por favor corrija los siguientes errores:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>
        <div class="mb-3">
            <label for="titulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" th:field="*{titulo}" id="titulo" name="titulo"
                   placeholder="Escriba el nombre de la pelicula" required="required">
        </div>
        <div class="mb-3">
            <label for="ano" class="form-label">Año</label>
            <input type="number" class="form-control" th:field="*{ano}" id="ano" name="ano"
                   placeholder="Escriba el año en que la película se estrenó" required="required">
        </div>
        <div class="mb-3">
            <label for="duracion" class="form-label">Duración</label>
            <input type="text" class="form-control" th:field="*{duracion}" id="duracion" name="duracion"
                   placeholder="Escriba la duracion de la pelicula en minutos" required="required">
        </div>
        <div class="mb-3">
            <label for="pais" class="form-label">Pais</label>
            <input type="text" class="form-control" th:field="*{pais}" id="pais" name="pais"
                   placeholder="Escriba el pais original de la pelicula" required="required">
        </div>

        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" th:field="*{direcion}" id="direccion" name="direccion"
                   placeholder="Escriba la direccion cinematográfica de la pelicula" required="required">
        </div>
        <div class="mb-3">
            <label for="reparto" class="form-label">Reparto</label>
            <input type="text" class="form-control" th:field="*{reparto}" id="reparto" name="reparto"
                   placeholder="Escriba el reparto de la pelicula ( los actores )" required="required">
        </div>

        <div class="mb-3">
            <label for="idioma" class="form-label">Idioma</label>
            <input type="text" class="form-control" th:field="*{idioma}" id="idioma" name="idioma"
                   placeholder="Escriba el idioma de la pelicula " required="required">
        </div>
        <div class="mb-3">
            <label for="compania" class="form-label">Compañia</label>
            <input type="text" class="form-control" th:field="*{compania}" id="compania" name="compania"
                   placeholder="Escriba la compania de la pelicula " required="required">
        </div>
        <div class="mb-3">
            <label for="sinopsis" class="form-label">Sinopsis</label>
            <input type="text" class="form-control" th:field="*{sinopsis}" id="sinopsis" name="sinopsis"
                   placeholder="Escriba el sinopsis de la pelicula " required="required">
        </div>

        <div class="mb-3">
            <select class="form-select"  Genero th:field="*{genero}" name="genero" id="genero">
                                      Genero
                <!--                 <option th:value="" selected>Seleccionar genero</option> -->
                <option th:value="Drama">Drama</option>
                <option th:value="Thriller">Thriller</option>
                <option th:value="Crimen">Crimen</option>
                <option th:value="Accion">Acción</option>
                <option th:value="ficción">Ciencia ficción</option>
                <option th:value="Comedia">Comedia</option>
                <option th:value="Documental">Documental</option>
            </select>
        </div>

        <img th:if="${film.imagen != null && #strings.length(film.imagen) > 0}" class="img-thumbnail rounded float-left"
             style="max-width: 25%;" th:src="@{'/cfilms/uploads/' + ${film.imagen}}"
             th:alt="${film.imagen}" />

        <div class="mb-3">
            <label for="file" class="col-sm-2 col-form-label">Imagen</label>
            <div class="col-sm-6">
                <input type="file" id="file" name="file" class="form-control"/>
            </div>
        </div>
        <button type="submit" class="btn btn-dark">Guardar</button>
        <input type="hidden" th:field="*{idFilm}" />
        <input type="hidden" th:field="*{imagen}"/>

    </form>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cfilms/}">Ir a Inicio</a>
    <a class="btn btn-outline-warning" role="button" th:href="@{/cfilms/all}">Volver</a>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
