<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>DiscoveryMovies | Aplicación de gestion de fichas de peliculas - Listado Actores</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="card">
        <h2 th:text="${titulo}" class="card-header"></h2>
        <div class="card-body">
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <h4 class="card-title">
                <a th:href="@{/cactores/nuevo}" class="btn btn-success btn-xs">Agregar nuevo actor +</a>
            </h4>
            </br>
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Pais de nacimiento</th>
                    <th scope="col">Peliculas</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="actor : ${listadoActores}">
                    <td th:text="${actor.idActor}"></td>
                    <td th:text="${actor.nombre}"></td>
                    <td th:text="${actor.fechaDeNacimiento}"></td>
                    <td th:text="${actor.paisDeNacimiento}"></td>

                    <td>
                        <table>
                            <tbody>
                            <tr th:each="film: ${actor.films}">
                                <td th:text="${film.titulo}"></td>

                            </tr>
                            </tbody>
                        </table>
                    </td>

                    <td>
                        <a th:href="@{/cactores/editar/{id}  (id=${actor.idActor})  }" th:text="'editar'"
                           class="btn btn-secondary btn-sm" role="button" title="Editar actor."><i
                                class="fas fa-pencil-alt" aria-hidden="true"></i></a>


                        <a th:href="@{/cactores/borrar/{id}  (id=${actor.idActor})   }" th:text="'borrar'"
                           onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button"
                           title="Eliminar actor."><i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>

            <nav th:replace="paginator-nav :: paginator"></nav>

        </div>
    </div>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cfilms/}">Ir a Inicio</a>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</div>
</body>
</html>