<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org": lang="en">
<head>
    <meta charset="UTF-8">
    <title>DiscoveryMovies | Aplicación de gestion de fichas de peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 th:text="${titulo}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/users/save/}" method="post" th:object="${user}" enctype="multipart/form-data">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Por favor corrija los siguientes errores:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>

            </ul>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Username</label>
            <input type="text" class="form-control" th:field="*{username}" id="nombre" name="nombre"
                   placeholder="Escriba el nombre del actor" required="required">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" th:field="*{email}" id="email" name="email"
                   placeholder="Escriba su correro electronico" required="required">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Password</label>
            <input type="password" class="form-control" th:field="*{password}" id="password" name="password"
                   placeholder="Escriba su contraseña" required="required">
        </div>


        <button type="submit" class="btn btn-dark">Guardar</button>
        <input type="hidden" th:field="*{idUser}"/>
    </form>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cfilms/}">Ir a Inicio</a>   <a class="btn btn-outline-warning" role="button" th:href="@{/users/all}">Volver</a>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>

