.navbar-brand {
    color: #091B29;
    position: center;
    font-family: Ayuthaya;
    font-weight: bold;

}
body {
    background-color: #091B29;
}

.imageFilm{
    margin-top: 25px;
    margin-right: 5px;
    margin-bottom: 3px;
}
.title_film {
    color: whitesmoke;
    font-size: 22px;
}
.genero_film {
    font-size: 15px;
    text-decoration:underline ;
    color: #6b6868;
}
. {
    margin-left: 120px;
}
.imageD {
    margin-right: 150px;
}
.mr-5 {
    color: grey;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 15px;
}
.films {
    color: rgba(38, 156, 236, 0.55);
    margin-left: 15px;
    margin-right: 10px;
    font-size: 15px;
}

#navbar{
    color: white;
}
.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    padding: 0;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-align: center;
}
.dropdown {
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.truncated-text.hidden {
    display: none;
}

.username-text {
    font-size: 18px;
}


