<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="es">
<head>
  <meta charset="UTF-8">
  <title>DiscoveryMovies | Aplicación de gestion de fichas de peliculas</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>
<div>
  <!--navbar-->
  <nav id="navbar" class="navbar" style="background-color: darkgray;">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/cfilms/}">
        <img id="ICON" th:src="@{/uploads/movieIcon.png}" alt="" width="50" height="40"  class="d-inline-block align-text-top-success">
        DiscoveryMovies
      </a>
      <form th:action="@{/cfilms/titulo}" method="get">
        <div class="mb-3">
          <input type="text" class="form-control" id="titulo" name="titulo"
                 placeholder="Escriba el nombre de la pelicula">
          <button type="submit" class="btn btn-dark">Buscar</button>

        </div>
      </form>
      <form class="d-flex">
        <a  class="btn btn-outline-success" type="submit" role="button" th:href="@{/cfilms/buscar}"> Busqueda avanazada </a>
      </form>

    </div>
  </nav>
</div>
<div class="homepage--hero">
  <div class="container  ">
    <div class="row first" style="text-align: center;">
      <div class="col-sm-12" >
        <br />

          <h2 style="color: papayawhip" th:text="${film.titulo}" > </h2>
          <br />

        <ul class="nav justify-content-center nav-tabs" >
            <li class="nav-item" >
              <a class="nav-link active" aria-current="page" th:href="@{/cfilms/idfilm/{id}(id=${film.idFilm})} ">Ficha</a>
            </li>
            <li class="nav-item">
              <!--critica selon idFilm-->
              <a class="nav-link" th:href="@{/criticas/film/{idfilm}(idfilm=${film.idFilm})} ">Criticas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/cfilms/idfilm/actor/{id}(id=${film.idFilm})} ">Actores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </a>
        <div class="card mb-3" style="max-width: 840px ; margin-left: 200px" >
          <div class="row g-0">
            <div class="col-md-4">
              <img class="imageD" th:src="@{/uploads/badboys.jpg}" width="200" height="260" alt="film2" style="display: inline-block;"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="d-flex">
                  <p class="mr-5" > Titulo : </p>
                  <p th:text="${film.titulo}"></p>
                </div>
                <div class="d-flex">
                  <p class="mr-5" > Año : </p>
                  <p th:text="${film.ano}"></p>
                </div>
                <div class="d-flex">
                  <p class="mr-5" > Duración : </p>
                  <p th:text="${film.duracion}"></p>
                </div>
                <div class="d-flex">
                  <p class="mr-5" > País : </p>
                  <p th:text="${film.pais}"></p>
                </div>
                <div class="d-flex">
                  <p class="mr-5" > Dirección : </p>
                  <p th:text="${film.direcion}"></p>
                </div>
                <div class="d-flex">
                  <p class="mr-5" > Reparto : </p>
                  <p th:text="${film.reparto}"></p>
                </div>

                <div class="d-flex">
                  <p class="mr-5" > Compañías : </p>
                  <p th:text="${film.compania}"></p>
                </div>
                <div class="d-flex">
                <p class="mr-5" > Idioma : </p>
                <p th:text="${film.idioma}"></p>
              </div>
                <div class="d-flex">
                  <p class="mr-5" > Género : </p>
                  <p th:text="${film.genero}"></p>
                </div>
                <div class="d-flex">
                  <p class="mr-5" > Sinopsis : </p>
                  <p th:text="${film.sinopsis}"></p>
                </div>

                <div class="d-flex">
                  <p class="mr-5">Actores:</p>
                  <div th:each="actor: ${film.actores}">
                    <a th:href="@{/cfilms/idfilm/actorDetail/{id}/(id=${actor.idActor})}" th:text="${actor.nombre}"></a>
                    <span th:if="!${actor_is_last}"> ,  </span>
                  </div>
                </div>

                <!--
                <div class="d-flex">
                  <p class="mr-5" > Actores : </p>

                  <table>
                    <tbody>
                    <tr th:each="actor: ${film.actores}">
                      <td th:text="${actor.nombre}"></td>

                    </tr>
                    </tbody>
                  </table>


                </div>
!-->




               <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <br />
  <br />

  <br />

</div>
</div>
</body>
</html>