
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="es">
<head>
    <meta charset="UTF-8">
    <title>DiscoveryMovies | Aplicación de gestion de fichas de peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>
<div>
    <!--navbar-->
    <nav id="navbar" class="navbar" style="background-color: darkgray;">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/cfilms/}">
                <img id="ICON" th:src="@{/uploads/movieIcon.png}" alt="" width="50" height="40"  class="d-inline-block align-text-top-success">
               DiscoveryMovies
            </a>
            <form class="d-flex">
                <a  class="btn btn-outline-success" type="submit" role="button" th:href="@{/cfilms/buscar}"> Buscar </a>
            </form>

        </div>
    </nav>
        </div>

<br>
<div class="container text-center" >
    <h2 style="color: ghostwhite ; font-size: 45px "  >  Movies Discovery</h2>
    <h3 style="color: ghostwhite ; font-size: 15px ">descubre antes de ver </h3>
    <div class="row row-cols-4" >
        <div class="col"th:each="film : ${listadoFilms}">
            <br>
            <br>
         <a   th:href="@{/cfilms/idfilm/{id}(id=${film.idFilm})} "> <img class="imageFilm rounded-3" th:src="@{/uploads/badboys.jpg}" width="200" height="260"  alt="film1" > </a>
            <br>

            <div  class="title_film"  th:text="${film.titulo}"></div>
            <div  class="genero_film" th:text="${film.genero}" ></div>

        </div>

    </div>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>